<h1>Donely</h1>
<h3>Tell me its done, please.</h3>
<hr />

<div>
  <% @task.each do |t| %>
    <p>Recipient: <%= t.recipient.name %></p>
    <p>Task: <%= t.activity %></p>
    <p>Task Message: <%= t.message %></p>
    <p>Text Delivery Date: <%= t.schedule_time %></p>
    <p>Status: <%= t.completed %></p>
    <hr />
  <% end %>
</div>