<h1>Create a New Task</h1>

<%= form_for @task do |f| %>

  <div class="field">
    <p>
      <%= f.label :activity %>:
      <%= f.text_field :activity %><br />
    </p>
  </div>

  <div class="field">
    <p>
      <%= f.label :message %>:
      <%= f.text_area :message %><br />
    </p>
  </div>

  <div class="field">
    <br />
    <p>
      <%= f.label :schedule_time, "Schedule Text Delivery Date" %>:
      <%= f.date_select :schedule_time %><br />
      <%= f.label :schedule_time, "Schedule Text Delivery Time" %>:
      <%= f.time_select :schedule_time %><br />
    </p>
  </div>

  <div class="field">
    <br />
    <p>Recipient List:</p>
    <p>
      <%= collection_select(:task, :recipient_id, @recipients, :id, :name) %>
    </p>
  </div>


  <div class="actions">
    <br />
    <p>
      <%= f.submit "Submit" %>
    </p>
  </div>

<% end %>